.header-text {
  color: darkgreen;
}

.product-list {
  text-align: left;
}

.button-detail {
  background-color: greenyellow;
}

.background {
  background-color: lightgreen;
  border-radius: 8px;
}

img:hover {
  opacity: 0.75;
}
